# Pinnacle API Configuration
PINNACLE_API_KEY=your_pinnacle_api_key_here
PINNACLE_AGENT_ID=your_agent_id_here
PINNACLE_SIGNING_SECRET=your_signing_secret_here

# Server Configuration
PORT=3000

# Test Mode (set to 'true' for testing, 'false' for production)
TEST_MODE=false

# Image URLs - Replace with your own image URLs
IMAGE_FLYEASY_ICON=https://server.trypinnacle.app/storage/v1/object/public/pinnacle-public-assets/demos/flight-travel/flyeasy_icon.png
IMAGE_BOARDING_PASS_QR=https://server.trypinnacle.app/storage/v1/object/public/pinnacle-public-assets/demos/flight-travel/rickroll_qr.png
IMAGE_AMERICAN_AIRLINES_LOGO=https://server.trypinnacle.app/storage/v1/object/public/pinnacle-public-assets/demos/flight-travel/american_airlines.png
IMAGE_DELTA_AIRLINES_LOGO=https://server.trypinnacle.app/storage/v1/object/public/pinnacle-public-assets/demos/flight-travel/delta.png
IMAGE_UNITED_AIRLINES_LOGO=https://server.trypinnacle.app/storage/v1/object/public/pinnacle-public-assets/demos/flight-travel/united_airlines.png
IMAGE_PREMIUM_ECONOMY_SEAT=https://server.trypinnacle.app/storage/v1/object/public/pinnacle-public-assets/demos/flight-travel/economy.webp
IMAGE_BUSINESS_CLASS_DINING=https://www.travelandleisure.com/thmb/9cQ_FktRwVJQUiTQtpq1-WeF7kc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/emirates-business-class-dining-EMIRATESBIZ0322-e8414f0893f640929ea0cb2d286d8e61.jpg
